:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Color */
  --main-txt-cl: #555555;
  --secondary-txt-cl: #303030;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;

  --main-bg-cl: #111319;
  --accent-bg-cl: #ff6c00;

  --gray-cl: rgb(157, 164, 189);
  --gray-cl-60: rgba(157, 164, 189, 0.6);

  /* Others */
  --indent: 30px;
  --items: 3;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* reset start */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.uppertitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--secondary-txt-cl);
}
.uppertitle::before {
  content: '';

  display: block;
  width: 60px;
  height: 1px;

  background-color: var(--secondary-txt-cl);
}
.uppertitle-light {
  color: var(--gray-cl);
}
.uppertitle-light::before {
  background-color: var(--gray-cl-60);
}
.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--secondary-txt-cl);
}
.title-light {
  margin-bottom: 44px;

  color: var(--light-txt-cl);
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);

  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: var(--light-txt-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  position: fixed;
  top: 0;

  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  /* background-color: var(--main-bg-cl); */
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-logo-img {
  fill: var(--secondary-txt-cl);
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link,
.header-contact {
  position: relative;

  display: block;
  padding: 30px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}
.header-contact {
  margin-right: 40px;
}
.header-nav-link.active {
  color: var(--accent-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}

.header-nav-link::after {
  content: '';

  position: absolute;
  bottom: 15px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
}

.header-nav-link.active::after {
  background-color: #ff6c00;
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
}
.hero-container {
  display: flex;
}
.hero-left-side {
  width: 100px;
}
.hero-right-side {
  flex-grow: 1;

  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: var(--main-bg-cl);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero/slider-img-3.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-list {
}
.hero-item {
}
.hero-link {
}

.hero-title {
  margin-bottom: 20px;
  width: fit-content;

  font-family: var(--secondary-font);
  font-size: 72px;

  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);

  /* font-size: 120px;
  background-color: #833ab4;
  background-image: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}
.hero-desc {
  width: 360px;
  color: var(--gray-cl);
}
/* media links */
.media {
}
.media-item {
}
.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-txt-cl);
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
/* slider styles */
.hero-controls {
  display: none;
}
.hero-controls-item {
}
.hero-controls-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
  background-color: transparent;
  cursor: pointer;
}
/**
  |============================
  | About styles
  |============================
*/
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-img {
}
.about-right-side {
  width: 470px;
}
.about-subtitle {
  margin-bottom: 20px;
}
.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
}
.about-btn {
}
/**
  |============================
  | Price styles
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/price/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-uppertitle {
}
.price-title {
}
.price-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-inner-list {
  width: 570px;
  padding: 30px 20px;
}
.price-item:first-child .price-inner-list {
  background: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
}
.price-item:last-child .price-inner-list {
  background: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
}
.price-inner-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  color: var(--gray-cl);
}
.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-inner-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.2);
}
.price-inner-servece {
  order: -1;
}
.price-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-txt-cl);
}
.benefits-mark {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-txt-cl);
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--secondary-txt-cl);
}
.benefits-uppertitle {
}
.benefits-title {
}
.benefits-desc {
}
/**
  |============================
  | Team styles
  |============================
*/
.team {
  background: #f7f7f7;
}
.team-uppertitle {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-thumb {
  position: relative;
}
.team-img {
}
/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: rgba(23, 26, 36, 0.3);
  backdrop-filter: blur(2px);
}
.overlay-text {
  color: #ffffff;
}

.team-wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.team-subtitle {
  margin-bottom: 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;

  color: var(--secondary-txt-cl);
}
.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  text-align: center;

  color: var(--accent-txt-cl);
}
/* socials icon */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: var(--light-txt-cl);
  border-radius: 50%;

  /* fill: var(--secondary-txt-cl); */
  color: var(--secondary-txt-cl);
}
.socials-link:hover,
.socials-link:focus {
  /* fill: var(--accent-bg-cl); */
  color: var(--accent-bg-cl);
  background-color: #303030;
}

.socials-icon {
  fill: currentColor;
}
/* .socials-icon {
  fill: var(--secondary-txt-cl);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-bg-cl);
} */
/**
  |============================
  | Gallery styles
  |============================
*/
.gallery {
}
.gallery-uppertitle {
}
.gallery-title {
}
.gallery-list {
  --items: 4;
}
.gallery-item {
}
.gallery-img {
}
/**
  |============================
  | Booking styles
  |============================
*/
.page-wrapper {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  gap: 30px;

  background-color: var(--main-bg-cl);
  background-image: url(../images/contacts/bg-img.png);
  background-repeat: no-repeat, repeat;
  background-position: top left calc(50% + 408px);
  background-size: contain;
}
.booking {
  flex-basis: 570px;
}
/**
  |============================
  | Price styles
  |============================
*/
.contacts {
  padding-left: 100px;
  flex-basis: 570px;
}
.contacts-title {
}
.contacts-address {
  margin-bottom: 72px;

  font-style: normal;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--gray-cl);
}
.contacts-link:first-child {
  font-weight: 700;
}
.contacts-link:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-schedule-title {
}
.contacts-schedule-desc {
  color: var(--gray-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;
  color: var(--gray-cl);
}
/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(23, 26, 36, 0.3);
  backdrop-filter: blur(2px);
}
.modal {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 225px);

  width: 450px;
  height: 500px;

  background-color: var(--light-txt-cl);
  border-radius: 10px;
}
.modal-close-btn {
  position: absolute;
  top: -18px;
  right: -18px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  border-radius: 50%;
  border: none;
  background-color: #ff6c00;
}
.modal-close-icon {
  fill: #ffffff;
}
